    "custom/fastbattery": {
        "exec": "~/.config/waybar/fastbattery.sh",
        "format": "{icon} {percentage}%",
        "return-type": "json",
            "format-icons": [
                "",
                "",
                "",
                "",
                ""
            ],
        "interval": 30
    }
